.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  border: 1px solid rgb(15, 76, 209);
  border-radius: 5px;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  opacity: 80%;
}
