.card{
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 360px;
    margin: 15px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image{
    height: 200px;
    border-radius: 10px 10px 0 0 ;
}
.cardBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 15px;
}
.name{
    font-weight: 600;
    font-size: 14px;
    color: #3067BA;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    font-size: 12px;
}
.categories{
    margin-bottom: 5px;
    font-size: 14px;
    color: #851fc8;
}