.card{
    background-color: rgb(243, 243, 243);
    width: 270px;
    height: 360px;
    margin: 10px;
}
image{

}
.cardBottom{

}
.name{

}
.info{
    
}
.likes{
    
}
.likesLogo{
    
}
.likesCount{
    
}
.views{
    
}
.viewsLogo{
    
}
.viewsCount{
    
}
.buttons{
    
}
button{

}