.card{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 320px;
    margin: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.cardBottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 15px;
}
.name{
    font-weight: 600;
    font-size: 14px;
    color: #3067BA;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.likesAndViews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 24px;   
    margin-right: 5px;
}
.logoCount{
    font-size: 12px;
    font-weight: 400;
    margin-right: 15px;
}
.button{
    margin-right: 10px;
    background-color: #3F89EB;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}