.wrapper{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 40% 40% 1fr;
    grid-template-areas: 
    "search search button"
    "sort select load"
    "total loader .";
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* search bar */
.searchBar{
    grid-area: search;
    display: grid;
    width: 100%;
}

/* input  */
.input, .inputError{
    border-radius: 10px;
    height: 27px;
    width: 100%;    
}
.input{
    border: 2px solid #5E4AE3;
    height: 27px;
}
.inputError{
    border: 2px solid #f60000;
    caret-color: rgb(238, 0, 0);
}
input:focus{
    outline: none;
}

.button{
    grid-area: button;
}
.loadMore{
    grid-area: load-button;
}


/* selects */
.order{
    grid-area: sort;
}

.category{
    grid-area: select;
    margin: 5px;
}

select{
    padding: 7px;
    border: 0;
    background-color: #F3F3F3;
    width: 180px;
}

/* totalBooks */
.totalBooks{
    grid-area: total;
    margin-right: auto;
    color: #5E4AE3;
}


/* loader */
.loader{
    grid-area: loader;
}


/* error text */
.errorText{
    color: red;
    font-size: 14px;
    position: absolute;
    margin: 34px 0 0 0;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        grid-template-rows: 70px 1fr 1fr 1fr 1fr;
        grid-template-columns: 80% 1fr;
        grid-template-areas: 
        "search button"
        "sort sort"
        "select select"
        "total load-button"
        "loader loader";
    }

    .input, .inputError{
        border-radius: 10px;
        height: 27px;
        width: 90%;
    }
}
